# Flutter/Dart/Pub related
.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.fvm/

# Visual Studio Code related
.vscode/
example/.flutter-plugins-dependencies
